# API Base URL
REACT_APP_API_BASE_URL=http://localhost:8080/NAFAL
REACT_APP_API_BASE=http://localhost:8080/NAFAL

# Kakao OAuth2 Redirect URI
REACT_APP_KAKAO_REDIRECT_URI=http://localhost:3000/kakao/callback

# Logout Redirect URL
REACT_APP_LOGOUT_REDIRECT=http://localhost:3000
